.footer{
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
}

.footer .copyright{
    text-align: center;
    color: #012970;
}

.footer .credits{
    text-align: center;
    padding-top: 5px;
    font-size:13px;
    color:#012970;
}